/* Сброс базовых стилей браузера */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Установка базового размера шрифта и семейства шрифтов для всего приложения */
html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Стили для тела документа */
body {
  line-height: 1.6;
  background-color: #121212; /* Темный фон */
  color: #e0e0e0; /* Светлый текст */
}

/* Глобальные стили для ссылок */
a {
  color: #42a5f5; /* Яркий акцентный цвет */
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Глобальный класс контейнера для консистентного отступа */
.container {
  padding: 0 20px;
  margin: 0 auto;
}

/* Дополнительные глобальные стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #42a5f5; /* Яркий акцентный цвет */
}

/* Стили для кнопок */
button {
  background-color: #42a5f5; /* Яркий акцентный цвет */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #1e88e5;
  }
}
